body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top,#181831, #2b2756);
}

a{
    text-decoration: none;
}

#container {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1000px;
    padding: 0px;
    margin: 0px auto;
}

.tab{
    height: 150px;
    width: auto;
    align-content: center;
    background-color: rgb(33, 33, 40);
    color: aliceblue;
}

div.tab a,b{
    color: aliceblue;
    font-size: larger;
    text-decoration: none;
}

.gap{
    width: 50px;
}

.content{
    z-index: 1;
    height: auto;
    width: 1000px;
}

.content a {
    float: right;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:#59BF40;
    color: whitesmoke;
    border: #59BF40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

.menu {
    background-image: linear-gradient(90deg, #66C0F4, #417a9b);
        
}
.menu ul{
    display: flex;
    flex-direction: row;
    margin: 7px;
    width: 925px;
    height: 20px;
    align-content: center;
    color: #e5e5e5;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; 
}

.menu ul li{
    list-style: none;
    margin: 0px 0px 10px 20px;
}

#space{
    width: 130px;
    height: 20px;
}

#search{
    background-image: none;
    background-color: #316282;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
    color: black;
    height: 23px;
    padding: 0px 6px;
    width: 145px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.5;
}

#search img{
    width: 19px;
    height: 20px;
    float: right;
}

#feature{
    height: 22px;
    width: 940px;
    font-weight: normal;
    padding-top: 25px;
    font-family: "Motiva Sans", Sans-serif;
    color: #fff;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0 0 10px;
}

.utama{
    width: 978px;
    height: 380px;
    background: url('Images/bluegradient.png') bottom center;
    padding: 20px 2%;
    background-repeat: no-repeat;
}

.arrowleft{
    margin-top: 122px;
    display: inline-block;
    width: 45px;
    height: 108px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}


.arrowleft div{
    margin: 40px 10px;
    width: 40px;   
    height: 50px;
    background: url('Images/left-arrow.png');
    background-repeat: no-repeat;
}

.arrowleft:hover{
    background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.arrowright {
    margin-top: 122px;
    display: inline-block;
    width: 45px;
    height: 108px;    
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
}

.arrowright div{
    margin: 40px 10px;
    width: 40px;
    height: 50px;
    cursor: pointer;
    background: url('Images/right-arrow.png');
    background-repeat: no-repeat;
}

.arrowright:hover{
    background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}

.change{
    text-align: center;
}

.change div {
	display: inline-block;
	margin: 12px 2px;
	width: 15px;
	height: 9px;
	border-radius: 2px;
	background-color: hsla(202,60%,100%,0.2);
}

.change div.focus{
    opacity: 1;
    background-color: hsla(202,60%,100%,0.4);
}

div.atas{
    background-position: center;
    height: 200px;
    background-image: url('Images/steam.png');
    background-repeat: no-repeat;
    padding: 40px;
}

div.atas #text_biru{
    text-align: center;
    margin-top: 150px;
    font-weight: normal;
    font-size: 24px;
    color: #67c1f5;
}

div.atas div{
    text-align: center;
    color: #9099a1;
    font-size: 13px;
}

.bawah{
    height: 105px;
    width: auto;
    align-content: center;
    padding: 16px 0 60px 0;
    background-color: #171a21;
    color: aliceblue;
    margin: 0;
}

.isi{
    padding-top: 16px;
    width: 940px;
    height: 105px;
    margin: 0 auto;
}

.garis{
    width: 940px;
    height: 8px;
    border-top: 1px solid #363c44;
}

.isi div{
    color:#8f98a0;
    font-size: 12px;
    float: left;
    margin-left: 10px;
    line-height: 15px;
}

.isi div a{
    color: #C6D4DF;
    cursor: pointer;
    font-size: 13px;
}

.isi div a:hover{
    color: white;
}

.isi .logo_kiri{
    float: left;
}

.isi .logo_kanan{
    float: right;
}

#credit{
    display: flex;
    color: #c6d4df;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
}

#credit a{
    display: flex;
}
#credit a:hover{
    cursor: pointer;
    color: white;
}

.carousel{
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 350px;
    overflow: hidden;
}

.gameitem{
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 350px;
}

.description{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('Images/background.jpg');
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    color: white;
}

.description h1{
    width: 270px;
    height: 100px;
    margin-left: 10px;
}

.description p{
    position: relative;
    top: -20px;
    width: 270px;
    height: 300px;
    margin-left: 10px;
}

.carousel div.active {
    display: flex;
}
.carousel div {
    display: none;
}