body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top,#181831, #2b2756);
    color: white;
}
a{
    text-decoration: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1000px;
    padding: 0px;
    margin: 0px auto;
}
.tab{
    height: 150px;
    width: auto;
    align-content: center;
    background-color: rgb(33, 33, 40);
    color: aliceblue;
}

div.tab a,b{
    color: aliceblue;
    font-size: larger;
    text-decoration: none;
}

.gap{
    width: 50px;
}

.profil{
    font-family: "Motiva Sans", Sans-serif;
    position: absolute;
    top: 5;
    right: 0;
    padding-right: 20px;
}

.profil td{
    padding: 0 10px;
}

.profil img::after{
    cursor: pointer;
}

.content{
    height: auto;
    width: 1000px;
}

.content a {
    float: right;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:#59BF40;
    color: whitesmoke;
    border: #59BF40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.wishlist{
    display: flex;
}

.wishlist a{
    color: white;
}

.bawah{
    height: 105px;
    width: auto;
    align-content: center;
    padding: 16px 0 60px 0;
    background-color: #171a21;
    color: aliceblue;
    margin: 0;
}

.isi{
    padding-top: 16px;
    width: 940px;
    height: 105px;
    margin: 0 auto;
}

.garis{
    width: 940px;
    height: 8px;
    border-top: 1px solid #363c44;
}

.isi div{
    color:#8f98a0;
    font-size: 12px;
    float: left;
    margin-left: 10px;
    line-height: 15px;
}

.isi div a{
    color: #C6D4DF;
    cursor: pointer;
    font-size: 13px;
}

.isi div a:hover{
    color: white;
}

.isi .logo_kiri{
    float: left;
}

.isi .logo_kanan{
    float: right;
}

#credit{
    display: flex;
    color: #c6d4df;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
}

#credit a{
    display: flex;
}
#credit a:hover{
    cursor: pointer;
    color: white;
}