body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top,#181831, #2b2756);
}

a{
    text-decoration: none;
}

.tab{
    height: 150px;
    width: auto;
    align-content: center;
    background-color: rgb(33, 33, 40);
    color: aliceblue;
}

div.tab a,b{
    color: aliceblue;
    font-size: larger;
    text-decoration: none;
}

.gap{
    width: 50px;
}

.profil{
    font-family: "Motiva Sans", Sans-serif;
    position: absolute;
    top: 5;
    right: 0;
    padding-right: 20px;
}

.profil td{
    padding: 0 10px;
}

.profil img::after{
    cursor: pointer;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.gamestuff{
    position: relative;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 300px;
    background: linear-gradient(39deg, rgba(29,56,28,0.6) 0%, rgba(32,50,82,0.6) 50%, rgba(70,37,37,0.6) 100%);
    color: white;
    border-radius: 5px;
    overflow: hidden;
}

.description{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
}

.description p,h1{
    margin-left: 5px;
}

.title{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 80px;
    background: linear-gradient(39deg, rgba(19,17,34,0.9) 0%, rgba(37,25,40,0.9) 40%, rgba(18,33,36,0.9) 68%, rgba(25,26,31,1) 100%);
    color: white;
    border-radius: 5px;
    overflow: hidden;
}

.title h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bawah{
    height: 105px;
    width: auto;
    align-content: center;
    padding: 16px 0 60px 0;
    background-color: #171a21;
    color: aliceblue;
    margin: 0;
}

.isi{
    padding-top: 16px;
    width: 940px;
    height: 105px;
    margin: 0 auto;
}

.garis{
    width: 940px;
    height: 8px;
    border-top: 1px solid #363c44;
}

.isi div{
    color:#8f98a0;
    font-size: 12px;
    float: left;
    margin-left: 10px;
    line-height: 15px;
}

.isi div a{
    color: #C6D4DF;
    cursor: pointer;
    font-size: 13px;
}

.isi div a:hover{
    color: white;
}

.isi .logo_kiri{
    float: left;
}

.isi .logo_kanan{
    float: right;
}

#credit{
    display: flex;
    color: #c6d4df;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
}

#credit a{
    display: flex;
}
#credit a:hover{
    cursor: pointer;
    color: white;
}
